.env
slurm_logs/
*.slurm
*.ipynb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# IDE / editor stuff
.vscode/
.idea/
*.swp
